doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/validationEngine.jquery.css')
    link(rel='stylesheet', href='css/jquery.datepick.css')
    link(rel='stylesheet', href='css/select2.min.css')
    link(rel='stylesheet', href='css/style.css')
    script(data-main="js/desktop" src="js/libs/spin.min.js")
    script(data-main="js/desktop" src="js/libs/utils.js")



  body
    block content
