body {
  padding: 0;
  margin: 0;
/* bottom = footer height */
}
a {
  color: #0069ff;
}
.arrow-sort {
  background: url("../images/assets/arrow_sort.png") no-repeat 0 0 transparent;
  display: inline-block;
  width: 12px;
  height: 8px;
  cursor: pointer;
  margin-left: 12px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
  background-color: transparent;
}
.modal-backdrop {
  background-color: #fff;
}
#confirm-alert .modal-content {
  background: #eee none repeat scroll 0 0;
  border: 1px solid #4b4b4b;
}
#confirm-alert .modal-content .modal-header,
#confirm-alert .modal-content .modal-footer {
  border: none;
  text-align: center;
  padding: 30px 0px 10px;
  letter-spacing: 0.5px;
}
#confirm-alert .modal-content .modal-footer {
  margin-bottom: 20px;
}
#confirm-alert .modal-content .modal-body {
  padding: 0;
}
#confirm-alert .modal-content button.btn.btn-default {
  font-size: 16px;
  padding: 4px 20px;
}
#confirm-alert .modal-content button.btn.btn-default.yes {
  color: #c40001;
  border: 2px solid #c40001;
}
#confirm-alert .modal-content button.btn.btn-default.no {
  color: #fff;
  border: none;
  background-color: #5da0f7;
}
.rules-header {
  height: 70px;
  background-image: -ms-linear-gradient(bottom, #000 0, #808080 100%);
  background-image: -moz-linear-gradient(bottom, #000 0, #808080 100%);
  background-image: -o-linear-gradient(bottom, #000 0, #5e5e5e 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000), color-stop(1, #808080));
  background-image: -webkit-linear-gradient(bottom, #000 0, #808080 100%);
  background-image: linear-gradient(to top, #4d6148 0, #648e50 100%);
  border: 0;
}
.rules-header > div:first-child {
  height: 100%;
  line-height: 70px;
  margin: 0;
/*        padding: 0;
        text-align: center;*/
}
.rules-header .title-1 {
  color: #fff;
  font-size: 16px;
  line-height: 70px;
  letter-spacing: 0.75px;
  font-weight: 300;
}
.rules-header .title-1.text-bold {
  font-weight: 500;
}
.rules-header #id-rules-signout {
  cursor: pointer;
  color: #3278bc;
}
/* ******** Login Page Start ******** */
.wrapper-login {
  display: none;
  background-color: rgba(0,0,0,0.05);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.wrapper-login .row {
  padding: 0;
}
.wrapper-login .login {
  background: none;
  min-height: 768px;
  padding: 0;
  width: 100%;
}
.wrapper-login #header {
  width: 100%;
  min-height: 50px;
  background: #b51419;
  text-align: center;
}
.wrapper-login #header img {
  width: 110px;
  margin-top: 12px;
  margin-right: 15px;
}
.wrapper-login #header h1.gm-title {
  line-height: 60px;
}
.wrapper-login h4.magnet-title {
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 15px;
}
.wrapper-login h1.gm-title {
  color: #6199d8;
}
.wrapper-login #content-register-div,
.wrapper-login #content-register-confirm-div {
  display: none;
}
.wrapper-login #content-register-div label {
  font-weight: 100;
}
.wrapper-login #content-register-div input {
  width: 100%;
}
.wrapper-login p.error-message {
  color: #f00;
  display: none;
}
.wrapper-login .div-form {
  color: #323232;
  border: none;
  border-radius: 10px;
  margin: 165px auto 0;
  padding: 5px 10px;
  width: 526px;
  height: 324px;
  text-align: center;
/*background: url(../images/assets/bg_window.png) no-repeat 0 0 transparent;*/
}
.wrapper-login .div-form hr {
  border-color: #afafaf;
  margin-top: 10px;
}
.wrapper-login .div-form label {
  font-weight: 300;
  letter-spacing: 0.6px;
}
.wrapper-login .div-form input {
  border: 1px solid #8b8b8b;
  height: 32px;
  text-align: left;
  background: transparent;
}
.wrapper-login .div-form button {
  letter-spacing: 1px;
  padding: 7px 85px;
  text-transform: uppercase;
  margin-top: 20px;
  background: transparent;
}
.wrapper-login .div-form p {
  font-weight: 300;
  margin-top: 20px;
}
.wrapper-login .div-form span.click-here {
  margin-left: 7px;
  text-decoration: underline;
  cursor: pointer;
}
.wrapper-login .div-form button#btnRegister {
  background-color: #c98d3f;
  border: 2px solid #95928b;
  color: #35240a;
}
.wrapper-login .div-form button#btnRegCancel {
  background: none;
  border: 2px solid #ccc;
  color: #000;
}
.wrapper-login .div-form .signin-title {
  color: #000;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 5px;
}
/* ******** Login Page End ******** */
.rules-wrapper .title-2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.rules-wrapper .main-tabs-container {
  height: 55px;
  background-color: #edeced;
}
.rules-wrapper .main-tabs-container .main-tab-box {
  margin: 0 auto;
  position: relative;
  width: 800px;
}
.rules-wrapper .main-tabs-container .main-tab-box .main-tab {
  background-color: #dedede;
/*                border-left: 1px solid #afafaf;
                border-right: 1px solid #afafaf;
                border-top: 1px solid #afafaf;*/
  border: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  color: #888;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  transform: perspective(40px) rotateX(5deg);
  width: 200px;
  top: 18px;
  z-index: 17;
}
.rules-wrapper .main-tabs-container .main-tab-box .main-tab > div {
  transform: perspective(40px) rotateX(-5deg);
}
.rules-wrapper .main-tabs-container .main-tab-box .main-tab.active {
  border-bottom: 1px solid #fff;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  z-index: 18;
  padding-top: 0;
  cursor: default;
}
.rules-wrapper .main-contents-container {
/*width: 1280px;*/
  height: 660px;
  margin: 0 auto;
}
.rules-wrapper .main-contents-container .main-content.active {
  display: block;
}
.rules-wrapper .main-contents-container .main-content {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.rules-wrapper .main-contents-container .main-content .tab-header-row {
  border-bottom: 1px solid #bdcdd5;
  margin: 10px 0 0;
  padding: 10px 0;
}
.rules-wrapper .main-contents-container .main-content .tab-header-row > div {
  font-size: 13px;
  font-weight: 600;
  line-height: 34px;
  white-space: nowrap;
}
.rules-wrapper .main-contents-container .main-content .tab-header-row button {
  color: #3d8ede;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row,
.rules-wrapper .main-contents-container .main-content .row.tab-row,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row {
  margin: 0;
  border-bottom: 1px solid #bdcdd5;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .exp-col,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .exp-col,
.rules-wrapper .main-contents-container .main-content .row.tab-row .exp-col,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .exp-col {
  color: #5b5b5b;
  font-size: 14px;
  line-height: 39px;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .exp-col img,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .exp-col img,
.rules-wrapper .main-contents-container .main-content .row.tab-row .exp-col img,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .exp-col img {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 50%;
  border: none;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .exp-col img#calImg,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .exp-col img#calImg,
.rules-wrapper .main-contents-container .main-content .row.tab-row .exp-col img#calImg,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .exp-col img#calImg,
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .exp-col img.datepick-trigger,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .exp-col img.datepick-trigger,
.rules-wrapper .main-contents-container .main-content .row.tab-row .exp-col img.datepick-trigger,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .exp-col img.datepick-trigger {
  border-radius: 0;
  height: 25px;
  margin-left: 5px;
  margin-top: -5px;
  width: 26px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .exp-col input,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .exp-col input,
.rules-wrapper .main-contents-container .main-content .row.tab-row .exp-col input,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .exp-col input {
  border: 2px solid #ecebeb;
  display: inline-block;
  margin-top: 5px;
  width: 88%;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .exp-col.exp-col-read,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .exp-col.exp-col-read,
.rules-wrapper .main-contents-container .main-content .row.tab-row .exp-col.exp-col-read,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .exp-col.exp-col-read {
  display: block;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .exp-col.exp-col-edit,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .exp-col.exp-col-edit,
.rules-wrapper .main-contents-container .main-content .row.tab-row .exp-col.exp-col-edit,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .exp-col.exp-col-edit {
  overflow: unset;
  display: none;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box {
  display: none;
  margin: 0;
  padding: 0;
/*height: 510px;*/
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .exp-select-pic,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .exp-select-pic,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .exp-select-pic,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .exp-select-pic {
  background: transparent url("../images/assets/list_new_exp/img_bg.png") no-repeat center center/contain;
  width: 136px;
  height: 102px;
  position: relative;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box > div:first-child,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box > div:first-child,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box > div:first-child,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box > div:first-child {
  border-top: 1px solid #bdcdd5;
  margin: 1px 50px 0;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .esp-label,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .esp-label,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .esp-label,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .esp-label {
  color: #787878;
  margin-bottom: 5px;
  margin-top: 10px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .no-image-choosen,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .no-image-choosen,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .no-image-choosen,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .no-image-choosen {
  color: #787878;
  font-style: italic;
  left: 10px;
  position: absolute;
  top: 30px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .no-image-choosen span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .no-image-choosen span,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .no-image-choosen span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .no-image-choosen span {
  color: #f00;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .topic-sel-icon,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .topic-sel-icon,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .topic-sel-icon,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .topic-sel-icon {
  background: transparent url("../images/assets/list_new_exp/btn_file_normal.png") no-repeat 0 0;
  cursor: pointer;
  display: inline-block;
  height: 39px;
  left: 80px;
  position: absolute;
  top: 60px;
  width: 51px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box select,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box select,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box select,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box select {
  height: 40px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .related-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .related-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .related-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .related-exp {
  background-color: #fff;
  border: 2px solid #ecebeb;
  border-radius: 4px;
  margin-right: 50px;
  min-height: 38px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .related-exp .related-esp-label,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .related-exp .related-esp-label,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .related-exp .related-esp-label,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .related-exp .related-esp-label {
  background-color: #83a3af;
  border: none;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  margin: 4px;
  padding: 3px 6px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .related-exp .related-esp-label span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .related-exp .related-esp-label span,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .related-exp .related-esp-label span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .related-exp .related-esp-label span {
  cursor: pointer;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .related-exp .related-exp-plus,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .related-exp .related-exp-plus,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .related-exp .related-exp-plus,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .related-exp .related-exp-plus {
  cursor: pointer;
  float: right;
  font-size: 20px;
  line-height: 28px;
  margin-right: 8px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp {
  display: none;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp .sel-exp-header,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp .sel-exp-header,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp .sel-exp-header,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp .sel-exp-header,
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp .sel-exp-box,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp .sel-exp-box,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp .sel-exp-box,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp .sel-exp-box {
  background-color: #fff;
  border: 2px solid #ecebeb;
  border-radius: 4px;
  margin-right: 50px;
  padding: 5px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp .sel-exp-header,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp .sel-exp-header,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp .sel-exp-header,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp .sel-exp-header {
  height: 38px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp .sel-exp-header .related-exp-plus,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp .sel-exp-header .related-exp-plus,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp .sel-exp-header .related-exp-plus,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp .sel-exp-header .related-exp-plus {
  cursor: pointer;
  float: right;
  font-size: 20px;
  line-height: 20px;
  margin-right: 3px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp .sel-exp-box,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp .sel-exp-box,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp .sel-exp-box,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp .sel-exp-box {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell {
/*background-color: #eee;*/
  border-radius: 10px;
  height: 40px;
  line-height: 36px;
  margin: 3px;
  cursor: pointer;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell span,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell span {
  background-color: #006198;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  margin: 2px 10px 0 8px;
  padding: 8px;
  float: left;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active,
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active:hover,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active:hover,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active:hover,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active:hover {
  background-color: #83a3af;
  font-weight: 600;
  color: #fff;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active span,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active span,
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active:hover span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active:hover span,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active:hover span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell.active:hover span {
  background-color: #fff;
  color: #83a3af;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell:hover,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell:hover,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell:hover,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .available-related-exp .sel-exp-box .sel-exp-cell:hover {
  background-color: #f8f8f8;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .what-was-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .what-was-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .what-was-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .what-was-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .what-skills-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .what-skills-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .what-skills-exp,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .what-skills-exp {
  position: relative;
  color: #787878;
  margin-right: 35px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .what-was-exp > span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .what-was-exp > span,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .what-was-exp > span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .what-was-exp > span,
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .what-skills-exp > span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .what-skills-exp > span,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .what-skills-exp > span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .what-skills-exp > span {
  position: absolute;
  top: 6px;
  left: 10px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .what-was-exp > span span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .what-was-exp > span span,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .what-was-exp > span span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .what-was-exp > span span,
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .what-skills-exp > span span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .what-skills-exp > span span,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .what-skills-exp > span span,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .what-skills-exp > span span {
  color: #f00;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box textarea,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box textarea,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box textarea,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box textarea {
  border: 2px solid #ecebeb;
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: 75px;
  padding: 0 10px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .exp-footer,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .exp-footer,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .exp-footer,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .exp-footer {
  height: 50px;
  width: 100%;
  margin-top: 5px;
  background-color: #e9f0f2;
  padding-top: 7px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .exp-footer button,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .exp-footer button,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .exp-footer button,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .exp-footer button {
  min-width: 160px;
  height: 36px;
  color: #3583d9;
  border: 2px solid #ecebeb;
  margin: 0 10px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .tab-box .exp-footer button.del-btn,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .tab-box .exp-footer button.del-btn,
.rules-wrapper .main-contents-container .main-content .row.tab-row .tab-box .exp-footer button.del-btn,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .tab-box .exp-footer button.del-btn {
  color: #e18c8d;
  border: 2px solid #e18c8d;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .arrow-expand,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .arrow-expand,
.rules-wrapper .main-contents-container .main-content .row.tab-row .arrow-expand,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .arrow-expand {
  background: transparent url("../images/assets/list_new_exp/arrow_dn_lg.png") no-repeat 0 0;
  cursor: pointer;
  display: inline-block;
  height: 9px;
  margin-left: 12px;
  width: 16px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .arrow-right,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .arrow-right,
.rules-wrapper .main-contents-container .main-content .row.tab-row .arrow-right,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .arrow-right,
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .arrow-left,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .arrow-left,
.rules-wrapper .main-contents-container .main-content .row.tab-row .arrow-left,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .arrow-left {
  background: transparent url("../images/assets/list_new_exp/arrow_right_lg.png") no-repeat 0 0;
  height: 16px;
  left: 130px;
  position: absolute;
  top: 13px;
  width: 10px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .arrow-left,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .arrow-left,
.rules-wrapper .main-contents-container .main-content .row.tab-row .arrow-left,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .arrow-left {
  background-image: url("../images/assets/list_new_exp/arrow_left_lg.png");
  display: inline-block;
  left: -15px;
  position: relative;
  top: 3px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .js-show-macideas,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .js-show-macideas,
.rules-wrapper .main-contents-container .main-content .row.tab-row .js-show-macideas,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .js-show-macideas,
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row .js-back-to-groups,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row .js-back-to-groups,
.rules-wrapper .main-contents-container .main-content .row.tab-row .js-back-to-groups,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row .js-back-to-groups {
  color: #3583d9;
  margin: 4px 0;
  width: 120px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row.js-current-question {
  margin-top: 15px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row.js-current-question button.js-back-to-groups {
  margin-top: 40px;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row.js-current-question img {
  height: 100px;
  margin: 10px 0;
}
.rules-wrapper .main-contents-container .main-content .tab-idea-row textarea,
.rules-wrapper .main-contents-container .main-content .tab-new-idea-row textarea {
  min-height: 150px;
}
.rules-wrapper .main-contents-container .main-content .tab-new-row {
  display: none;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row.active,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row.active,
.rules-wrapper .main-contents-container .main-content .row.tab-row.active,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row.active {
  display: block;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row.active > div,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row.active > div,
.rules-wrapper .main-contents-container .main-content .row.tab-row.active > div,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row.active > div {
  background-color: #f8f8f8;
}
.rules-wrapper .main-contents-container .main-content .row.tab-idea-row.active .arrow-expand,
.rules-wrapper .main-contents-container .main-content .row.tab-new-idea-row.active .arrow-expand,
.rules-wrapper .main-contents-container .main-content .row.tab-row.active .arrow-expand,
.rules-wrapper .main-contents-container .main-content .row.tab-new-row.active .arrow-expand {
  background: transparent url("../images/assets/list_new_exp/arrow_up_lg.png") no-repeat 0 0;
}
.rules-wrapper .main-contents-container .list-container .item-list {
  width: 300px;
  padding: 10px 40px;
  min-height: 50px;
  border: 1px solid #4d4d4d;
}
.rules-wrapper .main-contents-container .list-container .item-list .list-row {
  position: relative;
  cursor: default;
  border-bottom: 1px solid #ccc;
  line-height: 28px;
}
.rules-wrapper .main-contents-container .list-container .item-list .list-row span {
  left: -20px;
  top: 6px;
  position: absolute;
  visibility: hidden;
}
.rules-wrapper .main-contents-container .list-container .item-list .list-row.active {
  font-weight: 800;
}
.rules-wrapper .main-contents-container .list-container .item-list .list-row.active span {
  visibility: visible;
}
.rules-wrapper .main-contents-container .list-container .item-list .list-row-btns button {
  font-size: 22px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0 12px 3px;
}
.rules-wrapper .main-contents-container .new-window {
  padding: 56px 20px 10px;
/*min-height: 200px;*/
}
.rules-wrapper .main-contents-container .new-window .new-window-box {
  display: none;
  border: 1px solid #ccc;
/*min-height: 300px;*/
  width: 100%;
  padding: 20px;
  margin-bottom: 60px;
}
.rules-wrapper .main-contents-container .new-window .new-window-box .form-group {
  margin-bottom: 0;
}
.rules-wrapper .main-contents-container .new-window .new-window-box .text-cell {
  padding: 0;
}
.rules-wrapper .main-contents-container .new-window .new-window-box .rule-action-pane,
.rules-wrapper .main-contents-container .new-window .new-window-box .action-device-type-pane {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 15px 0;
  padding: 10px;
}
.text-field {
  background-color: #f5f5f5;
  border-radius: 6px;
  margin: 4px 0 0;
  min-height: 25px;
  padding: 5px;
}
#new-rule .modal-dialog,
#new-action .modal-dialog {
  width: 800px;
}
#new-rule .modal-body,
#new-action .modal-body {
  pading: 0;
}
#new-rule .create-window,
#new-action .create-window {
  padding: 20px 20px 10px;
  min-height: 300px;
}
#new-rule .create-window .rule-action-pane,
#new-action .create-window .rule-action-pane,
#new-rule .create-window .action-device-type-pane,
#new-action .create-window .action-device-type-pane {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 15px 0;
  padding: 15px 30px 0;
}
#new-rule .text-cell,
#new-action .text-cell {
  padding: 0;
}
#new-rule .condition-jexl-box,
#new-action .condition-jexl-box {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px 30px 0;
}
#new-rule .condition-jexl-box select,
#new-action .condition-jexl-box select {
  text-align: center;
}
#new-rule code,
#new-action code {
  display: block;
  min-height: 50px;
  width: 100%;
  margin-top: 20px;
}
.row.tab-buttons {
  padding-top: 15px;
}
.row.tab-buttons button {
  border: 2px solid #f5f4f5;
  color: #7fadca;
  font-size: 16px;
  height: 38px;
  padding: 0 15px;
}
.row.tab-buttons button .user-icon {
  height: 30px;
  margin-right: 10px;
  width: 30px;
}
.row.tab-buttons button.js-download-report {
  min-width: 160px;
}
.row.tab-buttons input {
  border: 2px solid #f5f4f5;
  display: inline-block;
  height: 38px;
  padding-left: 34px;
  position: relative;
  box-shadow: none;
}
.row.tab-buttons label {
  line-height: 38px;
  margin: 0;
  text-align: right;
}
.row.tab-buttons .sel-date-field {
  padding-left: 0;
}
.row.tab-buttons .sel-date-field input {
  padding: 0;
  text-align: center;
}
.row.tab-buttons span.icon-search {
  background: rgba(0,0,0,0) url("../images/assets/misc/icon_search.png") no-repeat scroll 0 0;
  display: inline-block;
  height: 22px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 21px;
  z-index: 7;
}
.row.tab-buttons span.icon-search-reset {
  border: 1px solid #ccc;
  background-color: #ccc;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  line-height: 12px;
  padding-left: 5px;
  position: absolute;
  right: 8px;
  top: 10px;
  width: 18px;
}
@media (max-width: 992px) {
}
